@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Jeongnimsaji-R';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/Jeongnimsaji-R.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.card-text p {
    line-height: 1.6em;
    margin-bottom:1rem;
}

.card-text strong{
    font-weight:bolder
}

.card-text ul {
    padding-left: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.card-text ul {
    padding-left: 2rem;
}

.card-text li {
    display: list-item;
    text-align: -webkit-match-parent;
    margin-bottom:0.5rem;
}

.card-text ul {
    list-style-type: disc;
}

.card-text h4 {
    font-weight:600;
    line-height: 1.2;
    padding-top: 20px;
    font-size: 1.4rem;
    margin-bottom: 1.4rem;
    margin-top: 0;
}

.card-text{
    @media screen and (max-width: 1000px) {
        font-size:0.9em;
    }
}


.form-login-check-input{
    border: 1px solid #dee2e6;
    border-radius: 0.378rem;
    @media screen and (max-width: 1000px) {
        margin-left:10%;
        margin-bottom:1.5rem;
    }
}

.logincheck {
    margin-right:30px;
    @media screen and (max-width: 1000px) {
        margin-bottom:1.5rem;
    }
}

.mobile-width-before-full{
    width:44%;
    margin: auto;
    @media screen and (max-width: 1000px) {
        width:100%;
    }
}

.mobile-width-after-full{
    width:56%;
    margin: auto;
    @media screen and (max-width: 1000px) {
        width:100%;
        margin-bottom:20px;
    }
}

.mobile-login{
    display:flex;
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
    @media screen and (max-width: 1000px) {
        padding-top: 0.5rem!important;
        display:initial;
    }
}

.mobile-login-text{
    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;
    @media screen and (max-width: 1000px) {
        padding-top: 0.5rem!important;
    }
}

.form-error-mobile {
    padding: 0!important;
    flex: 0 0 auto;
    width: 58.33333333%;
    @media screen and (max-width: 1000px) {
        padding-left : 20px!important;
        width:100%;
    }
}

.mobile-width-half-to-sixty {
    width:50%;
    @media screen and (max-width: 1000px) {
        width:60%;
    }
}

.fs-5 {
    @media screen and (max-width: 1000px) {
        font-size:1rem!important;
    }
}

.mobile-width-hundred {
    @media screen and (max-width: 1000px) {
        width:100%;
    }
}


.mobile-padding-zero {
    @media screen and (max-width: 1000px) {
        padding:0rem!important;
    }
}

.mobile-display-none {
    @media screen and (max-width: 1000px) {
        display: none;
    }
}

.mobile-display-only {
    display: none;
    @media screen and (max-width: 1000px) {
        display:initial;
    }
}

.mobile-padding-bottom-none {
    @media screen and (max-width: 1000px) {
        padding-bottom:0rem!important;
    }
}

.mobile-login {
    @media screen and (max-width: 1000px) {
        /* font-size: 1.5rem; */
        width: 14.5rem;
        margin: auto;
        padding-bottom: 1em!important;
    }
}


html,
body {
    scroll-behavior: smooth;
    /* 스크롤 부드럽게 이동하는 CSS 속성 */
}

body {
    overflow: hidden;
    @media screen and (max-width: 1000px) {
        overflow:auto;
    }
}

.mobile-m-2 {
    @media screen and (max-width: 1000px) {
        margin-top: 0rem!important;
    }
}

.overflowInitial{
    overflow: initial;
}

.navbar {
    @media screen and (max-width: 1000px) {
        --bs-navbar-padding-y:1.1rem;
        padding:0;
        --bs-navbar-brand-padding-y:1rem;
    }
}


.navbar-nav {
    @media screen and (max-width: 1000px) {
        margin-top:10px;
        margin-bottom:7px;
    }
}

.navbar-sticky{
    position: sticky;
    top:0;
    width:100%;
    z-index:200;
    height:9dvh;
    @media screen and (max-width: 1000px) {
        height:4rem;
    }
}

.nav-rank {
    border-right: 0.5px solid #7291ec;
    padding-right: 15px;

    @media screen and (max-width: 1000px) {
        border-right: 0;
        padding-bottom:6px;
    }
}

.rank-text {
    padding: 20px;
    font-family: 'EliceDigitalBaeum_Bold';
    color: #203bd4;
    font-size: 2.5em;
    margin-right: 20px;
    @media screen and (max-width: 1000px) {
        font-size:1.5em;
        margin-right: 0;
        padding-bottom: 0;
    }
}

.rank-text-user {
    padding-top: 20px;
    padding-bottom: 4px;
    font-family: 'EliceDigitalBaeum_Bold';
    color: #ffffff;
    font-size: 2.5em;
    @media screen and (max-width: 1000px) {
        font-size: 1.5em;
        padding-top: 0px;
        padding-bottom: 12px;
    }
}

.rank-number-user {
    color:#f3f169;
    padding-left:20px;
    padding-right:10px;
    font-size: 2em;
    @media screen and (max-width:1000px){
        font-size: 1.6em;
        padding-left:10px;
        padding-right:5px;
    }
}

.rank-scores-number{
    color: #3551f1;
}

.rank-scores-text {
    margin-top:25px;
    border-top: 1px solid #acbeda;
    padding-top:25px;
    font-family: 'EliceDigitalBaeum_Bold';
    color: #8f9eb3;
    font-size: 1.2em;
    @media screen and (max-width: 1000px) {
        border-top: 0;
        padding-top:0px;
        margin-top:15px;
        font-size: 1em;
    }
}

.rank-scores-box {
    padding: 2rem 2rem;
    margin-top: 2rem;
    /* margin-left:0.6rem;
    margin-right:0.6rem; */
    border: 1px solid transparent;
    border-radius: 0.6rem;
    color: #091181;
    background-color: #e1f0ff;
    border-color: #e1e9ee;
    box-shadow: 3px 3px 5px 4px rgb(77, 71, 71, 0.05);
    @media screen and (max-width: 1000px) {
        width:90dvw;
        padding: 1rem 1rem;
        margin-top: 0.5rem;
        border-radius: 0.6rem 0.6rem 0 0;
    }
}

.ranking_comment_wrap .ms-2 {
    margin-left:0px!important;
}

.rank-group {
    height: 4.5rem;
    box-shadow: 3px 3px 5px 4px rgb(77, 71, 71, 0.075);
    padding-left: 0 !important;
    padding-right: 0 !important;
    @media screen and (max-width: 1000px) {
        height:3.5rem;
        margin-bottom:0.65rem;
        box-shadow: 0px 0px 2px 1px rgb(77, 71, 71, 0.1);
    }
}

.rank-circle {
    background-color: #acbeda;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 5px;
    @media screen and (max-width: 1000px) {
        width: 10px;
        height: 10px;
        margin: 5px;
        margin-bottom: 4px;
    }
}

.rank-circle-solved {
    transition: background-color 0.3s ease-in-out;
    background-color: #fffb08;
    outline: 1px solid #cfbc0c;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 5px;
    @media screen and (max-width: 1000px) {
        width: 10px;
        height: 10px;
        margin: 5px;
        margin-bottom: 4px;
    }
}

.rank-input-box {
    padding: 1.5rem 1.5rem;
    margin-top: 1.5rem;
    border-radius: 0.6rem;
    color: #091181;
    background-color: #b2daff;
    border-color: #e1e9ee;
    box-shadow: 3px 3px 5px 4px rgb(77, 71, 71, 0.05);
    @media screen and (max-width: 1000px) {
        padding: 1rem 1rem;
        margin-top: 0rem;
        border-radius: 0 0 0.6rem 0.6rem;
    }
}


.rank-1st-number {
    @media screen and (max-width: 1000px) {
        width:20%;
    }
}

.rank-1st-number:disabled {
    background-color: #203bd4;
    @media screen and (max-width: 1000px) {
        border: 1px solid blue;
    }
}

.rank-1st-content:disabled {
    background-color: #3c58f7;
    border: 1px solid blue;
    @media screen and (max-width: 1000px) {
        border: 1px solid blue;
    }
}

.rank-nth-number {
    @media screen and (max-width: 1000px) {
        width:20%;
    }
}

.rank-nth-number:disabled {
    color: #605f69;
    background-color: #ecf1fd;
    border: 1px solid #aaa;
    @media screen and (max-width: 1000px) {
        border: 1px solid #ccc;
    }
}

.rank-nth-content:disabled {
    color: #605f69;
    background-color: #fff;
    border: 1px solid #aaa;
    @media screen and (max-width: 1000px) {
        border: 1px solid #ccc;
    }
}

.btn-group button:disabled {
    opacity: 100%;
}

.scores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1000px) {
        display: none;
    }
}

.mobile-scores {
    display: none;
    @media screen and (max-width: 1000px) {
        display: flex;
        padding-top: 0px;
        padding-bottom: 10px;    
        flex-direction: row;
        justify-content: center;
        align-items: start;
        background-color: #CFE5FF;
    }
}

.mobile-input-text{
    display: none;
    @media screen and (max-width: 1000px) {
        display: flex;
        padding-top: 0px;
        flex-direction: row;
        justify-content: center;
        align-items: start;
    }
}



.scores-number {
    color: #f3f169;
}

.scores-text {
    padding: 20px;
    font-family: 'EliceDigitalBaeum_Bold';
    color: #c0ccec;
    font-size: 1.2em;
    border-right: 0.5px solid #7291ec;
    margin-right: 20px;
}

.scores-circles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circles {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.circle {
    background-color: #7291ec;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 3px;
    @media screen and (max-width: 1000px) {
        width: 13px;
        height: 13px;
        margin: 1.3dvh 1.3dvw;
        background-color: #fcfeff;
        box-shadow: 0.3px 0.3px 2px #484e58;
    }
}

.circle-solved {
    transition: background-color 0.3s ease-in-out;
    background-color: #f3f169;
    outline: 2px solid #1521c2;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 3px;
    @media screen and (max-width: 1000px) {
        width: 13px;
        height: 13px;
        margin: 1.3dvh 1.3dvw;
        background-color: #84afff;
        outline: 0px;
        box-shadow: 0.3px 0.3px 2px #033d9b;
    }
}

.font-color-navi{
    color: #1521c2;
}

.mobile-font-color-navi{
    @media screen and (max-width: 1000px) {
        color: #1521c2;
    }
}

.nav-font {
    font-family: 'EliceDigitalBaeum_Bold';
    letter-spacing: 0.05rem;
}

.introduce-font {
    font-family: 'Jeongnimsaji-R';
}

.login-box {
    padding: 1rem 3.5rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    color: #091181;
    background-color: #f7fbff;
    border-color: #e1e9ee;
    width: 30rem;
    box-shadow: 3px 3px 5px 4px rgb(77, 71, 71, 0.05);

    @media screen and (max-width: 1000px) {
        padding: 0.5rem 2rem;
        width: 94%;
    }

}

.signup-box {
    padding: 1rem 3.5rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    color: #565763;
    background-color: #fcfcfc;
    border-color: #e0e0e0;
    width: 30rem;
    box-shadow: 3px 3px 5px 4px rgb(77, 71, 71, 0.05);

    @media screen and (max-width: 1000px) {
        padding: 0.5rem 2rem;
        width: 94%;
    }

}

.nav-line-height {
    line-height: 1.5;
}

.text-quiz {
    color: #131dac;
}

.mobile-avoid{
    @media screen and (max-width: 1000px) {
        display: none;
    }
}

.mobile-show{
    display: none;
    @media screen and (max-width: 1000px) {
        display:contents;
    }
}


.navbar-toggler {
    @media screen and (max-width: 1000px) {
        color:white;
        background-color:white;
        border:0px;
        --bs-navbar-toggler-focus-width:0rem;
    }
}
    
.navbar-collapse {
    @media screen and (max-width: 1000px) {
    margin-left:0.75rem;
    margin-bottom:0.5rem;
    }
}


.nav-gradient-background-gray {
    background: linear-gradient(-30deg, #545c63, #525270, #434d5c, #6e7794);
    background-size: 400% 400%;
    animation: gradient 9s ease infinite;
}

.nav-gradient-background {
    background: linear-gradient(-30deg, #121b9c, #1622ce, #111a97, #122dc5);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.qna-container{
    max-width: 1080px;
}


.nav-background-behind {
    position: fixed;
    width: 100%;
    height: 85px;
}

.azcard {
    border: none;
    box-shadow: 3px 3px 5px 4px rgb(77, 71, 71, 0.075);
    width: 13.5rem;
    height: 11rem;
    border-radius: 0.6rem;
    @media screen and (max-width: 1000px) {
        height: 9.5rem;
        box-shadow: 3px 3px 5px 4px rgba(24, 25, 27, 0.12);
    }
}

.card-footer:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
}

.selected_quiz {
    color: #916e07;
    background-color: #faf4dc;
    outline: solid 6px rgb(255, 239, 97, 0.75);
}

.quizsuccess-top {
    transition: background-color 0.5s ease-in-out;
    background-color: #3c58f7;
    border-top-left-radius: 0.6rem;
    border-top-right-radius: 0.6rem;
}

.quizsuccess-top .quizsuccess-text {
    transition: color 0.5s ease-in-out;
    color: #FFFFFF !important;
}

.quizsuccess-number {
    transition: color 0.5s ease-in-out;
    color: #9aace7 !important;
}

.quizsuccess {
    transition: background-color 0.5s ease-in-out;
    background-color: #203bd4;
    border-top: 0;
}

.quizBoxSelect {
    opacity: 1;
}

.whole_wrap {
    overflow: hidden;
    @media screen and (max-width: 1000px) {
        padding-top:0rem!important;
    }
}


.scroll-hide {
    -ms-overflow-style: none;
    overflow-y: auto;
}

.scroll-hide::-webkit-scrollbar {
    display: none;
}

.mobile-quiz {
    @media screen and (max-width: 1000px) {
        margin: 0rem !important;
        padding: 0rem !important;
        justify-content:start!important;
        flex-wrap:initial!important;
    }
}

.ranking_comment_wrap {
    height: 91vh;
    overflow-y: hidden;
    position: sticky; bottom:0;
    @media screen and (max-width: 1000px) {
        height:100%;
        overflow-y:initial;
        position:initial;
    }
}

#comment, #messageBtn {
    @media screen and (max-width: 1000px) {
        font-size:0.8em;
    }
}

.ranking_comment {
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
    @media screen and (max-width: 1000px) {
        margin-top: 0rem!important;
        margin-bottom: 0rem!important;
    }
}

.ranking_wrap {
    height: 91vh;
    background-color: #d2ecfd;
    position: sticky; bottom:0;
    overflow-y: scroll;
    @media screen and (max-width: 1000px) {
        height: auto;
        display:flex;
        align-items: center;
        background-color: #8cbcff;
        justify-content: center!important;
        overflow-y:visible;
        position:initial;
    }
}

.ranking_wrap::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.ranking_wrap::-webkit-scrollbar-track {
    background-color: transparent;
}

.ranking_wrap::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #93cdfa;
}

.ranking_wrap::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

.ranking_wrap_inside {
    @media screen and (max-width:1000px) {
        padding: 0rem!important;
        margin-top: 0rem!important;
        margin-bottom: 0rem!important;
        margin-right: 0rem!important;
        margin-left: 0rem!important;
        width:90dvw;
        margin:auto;
    }
}

.ranking_container {
    @media screen and (max-width:1000px) {
        padding-right: 0;
        padding-left: 0;
        margin-bottom:2rem;
    }
}


.ranking_individual {
    padding-right: 1.5rem!important;
    margin: 1.5rem!important;
    @media screen and (max-width:1000px) {
        padding-right: 0!important;
        margin: 0!important;
    }
}

.mobile-rank-font {
    @media screen and (max-width:1000px) {
        font-size:0.7em;
        --bs-btn-padding-x:0!important;
    }
}


.quiz_wrap {
    height: 91vh;
    overflow-y: scroll;
    background-color: #d2ecfd;
    position: sticky; bottom:0;

    @media screen and (max-width: 1000px) {
        height: 40dvh;
        overflow-x: scroll;
        overflow-y: hidden;
        display:flex;
        align-items: center;
        background-image: url( "/static/bg01.png" );
        background-size:auto;
        background-attachment: local;
    }
}

.quiz_wrap::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.quiz_wrap::-webkit-scrollbar-track {
    background-color: transparent;
}

.quiz_wrap::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #93cdfa;
}

.quiz_wrap::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

.chat_wrap {
    height:91vh;
    @media screen and (max-width: 1000px) {
        height: auto;
    }
}

.chat {
    width: 84%;
    font-size: 13px;
    color: #333;
    margin: 60px 100px 56px 56px;
    overflow: hidden;
    height: 82vh;
    /* 화면 높이로 설정 */

    @media screen and (max-width: 1000px) {
        height: auto;
        width: 90%;
        margin: auto;
    }
}

.chat .inner {
    background-color: #c1e4fc;
    border: #b5dbf3 2px solid;
    border-radius: 0.6rem;
    padding: 36px;
    overflow-y: scroll;
    /* overflow: hidden; */
    height: 63vh;

    @media screen and (max-width: 1000px) {
        height: 33dvh;
        padding: 20px;
        padding-top: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.6rem;
        border-bottom-left-radius: 0.6rem;
    }
}

.chat .inner::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.chat .inner::-webkit-scrollbar-track {
    background-color: transparent;
}

.chat .inner::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #93cdfa;
}

.chat .inner::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

.chat .p-4 {
    @media screen and (max-width: 1000px) {
        padding: 1.2rem !important
    }
}

.chat .item {
    margin-top: 15px;

    @media screen and (max-width: 1000px) {
        margin-top: 10px;
    }
}

.chat .item:first-child {
    margin-top: 0px;
}

.chat .item .box {
    display: inline-block;
    max-width: 400px;
    position: relative;

    @media screen and (max-width: 1000px) {
        max-width: 200px;
    }
}

.chat .item .box::before {
    content: "";
    position: absolute;
    left: -8px;
    top: 9px;
    border-top: 0px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #fff;
}

.chat .item .box .msg {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    word-break: keep-all;
    line-height: 1.5em;
}

.chat .item .answerBox::before {
    border-right: 8px solid #baffba;
}

.chat .item .box .answerMsg {
    background: #baffba;;
}

.chat .item .allClearBox::before {
    border-right: 8px solid #ffc548;
}

.chat .item .box .allClearMsg {
    background: #ffc548;;
    color:#000000;
    /* text-shadow: 0px 0px 5px #ffdfa3; */
    font-weight: 900;
}

.chat .item .box .h6 {
    @media screen and (max-width: 1000px) {
        font-size: 1em;
    }
}

.chat .item .box .time {
    font-size: 11px;
    color: #6c6c6d;
    position: absolute;
    right: -75px;
    bottom: 17px;
    width: 70px;
}

.chat .item .mymsg {
    text-align: right;
}

.chat .item .mymsg .box::before {
    left: auto;
    right: -8px;
    border-left: 8px solid #ffef61;
    border-right: 0;
}

.chat .item .mymsg .box .msg {
    background: #ffef61;
}

.chat .item .mymsg .box .time {
    right: auto;
    left: -75px;
}

.chat .item .box {
    transition: all .3s ease-out;
    margin: 0 0 0 20px;
    opacity: 0;
}

.chat .item.mymsg .box {
    transition: all .3s ease-out;
    margin: 0 20px 0 0;
}

.chat .item.on .box {
    margin: 0;
    opacity: 1;
}

.chatbotinput {
    border: 0;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 20px;
    text-align: center;

    @media screen and (max-width: 1000px) {
        margin-top: 5px;
        margin-bottom: 25px;
        font-size: 1em;
        width:60%;
        height:4.5rem;
        border-radius: 6px;
        float: right;
    }
}

.chatbotbutton {
    @media screen and (max-width: 1000px) {
        margin-top: 5px;
        margin-bottom: 25px;
        font-size: 1em;
        width:35%;
        height:4.5rem;
        border: 0;
        background: #dbeeff;
        border-radius: 6px;
        box-sizing: border-box;
        text-align: center;
    }
}

input:focus {
    outline: none;
}

.chatbotinput::placeholder {
    color: #999;
}

.bottom {
    position: absolute;
    bottom: 1rem;
}

.footer-text {
    margin-top: 10px;

    @media screen and (max-width: 1000px) {
        margin: auto;
        word-break: keep-all;
        width: 84%;
        line-height: 1.5em;
        font-size: 0.75rem !important;
        margin-top: 5px;
        font-size: 1em;
    }

}

.text-nav {
    color: #c4cef0 !important;
}


/* 게시판 */
.table-height tr{
    height:3em;
    border-bottom: 1px solid #ccc;
    @media screen and (max-width: 1000px) {
        height:2.5em;
        font-size:0.9em;
        border-bottom: 1px solid #ddd;
    }
}

.table-height th{
    vertical-align:middle;
    background-color:#eff4ff;
    font-weight:700;
    color:#111a97;
    @media screen and (max-width: 1000px) {
        font-size:0.9em;
    }
}

.table-height td{
    vertical-align:middle;
    @media screen and (max-width: 1000px) {
        font-size:0.9em;
    }
}

.mobile-text-alttle-small {
    @media screen and (max-width: 1000px) {
        font-size:0.9em;
    }
}

.mobile-subject-alttle-small {
    @media screen and (max-width: 1000px) {
        font-size:1.2em;
    }
}
